.main-body {
  background-image: url(images/people.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  width: 25%;
  color: white;
  font-size: 120%;
  background-color: RGBA(45, 45, 45, .3);
  border-radius: 3px;
}

h1  {
  margin-top: 10%;
  margin-right: 45%;
  margin-left: 45%;
}

 h3, h1 {
   color:RGBA(246, 169, 50, 1);
  
 }
